
<div class="container relative" style="padding-top: 150px;">
    <hr size='1' width='90%' color="#ee5057">
    <div class="max-w-[1200px] mx-auto p-4">
        <h3 class="text-black text-2xl font-bold leading-[50px] mb-[10px]">Giới thiệu Nhà xe Vân Anh</h3>
        <div class="flex gap-4 !mb-3"><span class="text-black opacity-[85] font-normal text-sm leading-[22px]">03:30
                25/04/2022</span></div>
        <div class="grid grid-cols-12 gap-[30px]">
            <div class="col-span-12 xl:col-span-8">
                <div class="news-detail-item_newsContent___rKd_">
                    <p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">I. GIỚI THIỆU
                                TỔNG QUAN VỀ NHÀ XE VÂN ANH</span></strong></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Là một trong những
                            thương hiệu nổi tiếng trong&nbsp; lĩnh vực kinh doanh tuyến xe khách Thanh Hóa - Hà
                            Nội&nbsp;và ngược lại, Nhà Xe Vân Anh Thanh Hóa thực sự là một lựa chọn tuyệt vời cho những
                            người có nhu cầu di chuyển giữa Hà Nội và Thanh Hóa, hoặc ngược lại. </span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Dịch vụ của nhà xe Vân
                            Anh Limousine không chỉ đảm bảo sự thoải mái và an toàn mà còn mang đến trải nghiệm vượt
                            trội và sang trọng.</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Điều đặc biệt là chúng
                            tôi chú trọng đến chất lượng dịch vụ và tiện nghi trên xe, đảm bảo rằng mọi hành khách đều
                            có trải nghiệm tốt nhất. Dòng xe trung chuyển đến xe giường nằm đều được đầu tư mua mới mới
                            càng làm tăng thêm sự lựa chọn và sự thoải mái cho hành khách trên mọi tuyến đường.</span>
                    </p>
                    <p style="text-align: center;" dir="auto"><img
                            src="https://cms.mobihome.vn/Data/Sites/1/media/nha-xe-van-anh-th.png" alt="" width="550"
                            height="275"></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Dòng xe giường nằm VIP
                            Vân Anh Limousine được trang bị những tiện ích vô cùng cao cấp, chuẩn 5 sao
                            như:&nbsp;</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; &nbsp;- Phòng nằm
                            giường massage êm ái, riêng biệt thỏa thích tận hưởng sự riêng tư cùng với những tiện ích
                            hấp dẫn</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; &nbsp;- Được trải
                            nghiệm cảm giác thư giãn, thoải mái khi được massage các điểm trên cơ thể như: cổ, vai, gáy,
                            lưng,... bởi ghế massage cao cấp</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; &nbsp;- Xem phim
                            cực đã với màn hình siêu to được trang bị WiFi chuẩn 5G tốc độ cao tha hồ lướt web mà không
                            sợ gián đoạn</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; &nbsp;- Trang bị
                            cổng sạc pin sạc siêu nhanh không lo dế yêu hết pin, có luôn ngăn để nước uống và rèm kéo
                            đầy tinh tế.</span></p>
                    <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">
                        <div dir="auto">
                            <div style="text-align: center;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: 13.3333px;"><img
                                            src="https://cms.mobihome.vn/Data/Sites/1/media/1.png"
                                            alt="Giường nằm xe Vân Anh Limousine vô cùng rộng rãi với vô vàn tiện ích hiện đại, chuẩn 5 sao"
                                            width="550" height="366"></span></span></div>
                        </div>
                    </div>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Không chỉ quan tâm đến
                            chất lượng của xe khách. Nhà xe Vân Anh còn rất chú trọng vào việc đào tạo đội ngũ nhân viên
                            đầy nhiệt tình, tâm huyết và có trách nhiệm với khách hàng.</span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Để đảm bảo chuyến đi
                                được diễn ra suôn sẻ và an toàn, nhân viên lái xe luôn là những người có kinh nghiệm lái
                                xe đường dài từ 10 năm trở lên. </span></span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Phụ xe là những
                                người nhạy bén, vui vẻ, nhiệt tình đảm bảo làm hài lòng khách hàng trong mọi tình huống
                                là điều mà nhà xe luôn hướng đến.</span></span></p>
                    <p style="text-align: center;" dir="auto"><span
                            style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><br><img
                                src="https://cms.mobihome.vn/Data/Sites/1/media/z4753026424919_6f1570b738e83148b83292c4b1067621.jpg"
                                alt="Nhân viên của Vân Anh Limousine giúp đỡ khách hàng trong tình huống" width="412"
                                height="550"><br></span></p>
                    <p style="text-align: left;" dir="auto"><span
                            style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Bên cạnh đó, nhà xe còn
                            có đội ngũ đưa đón và trả khách miễn phí trong nội thành Hà Nội và TP. Thanh Hóa bằng dàn xe
                            trung chuyển chất lượng cao mới 100%.&nbsp;</span></p>
                    <div class="cxmmr5t8 oygrvhab hcukyx3x c1et5uql o9v6fnle ii04i59q">
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span
                                    style="font-size: 13pt;">Tại Hà Nội, là dàn xe trung chuyển Vinfast điện màu cam nổi
                                    bật. Dòng xe điện không mùi, không khói bụi, êm ái, tốt cho sức khỏe người dùng và
                                    vô cùng thân thiện với môi trường</span>.</span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><br></span></div>
                        <div style="text-align: center;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><img
                                    src="https://cms.mobihome.vn/Data/Sites/1/media/dsc05558.jpg"
                                    alt="Dàn xe trung chuyển Vinfast điện màu cam nổi bật của Vân Anh Limousine"
                                    width="550" height="366"></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Tại Thanh Hóa nhà xe
                                vừa tiếp tục đầu tư mua mới 40 xe Xpander màu trắng phục vụ nhu cầu trung chuyển cho bà
                                con xứ Thanh. Đây là dòng xe 7 chỗ rộng rãi, được trang bị nhiều tiện ích hiện đại, mang
                                đến cho hành khách những chuyến đưa đón êm ái, thoải mái và nhanh chóng nhất.</span>
                        </div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: center;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><img
                                    src="https://cms.mobihome.vn/Data/Sites/1/media/dsc09754.jpg"
                                    alt="Dàn xe trung chuyển Xpander màu trắng của Vân Anh Limousine" width="550"
                                    height="366"></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Đồng thời, nhà xe
                                luôn đảm bảo chạy đúng tuyến, đúng giờ, không bắt khách giữa đường mà làm ảnh hưởng đến
                                trải nghiệm của khách hàng.&nbsp;</span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: center;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><img
                                    src="https://cms.mobihome.vn/Data/Sites/1/media/316531022_5381371578634965_7829618807054669475_n.jpg"
                                    alt="" width="550" height="550"></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: left;" dir="auto"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Với tiêu chí mang
                                đến cho khách hàng sự hài lòng và khác biệt nhất về chất lượng trong mỗi lần di chuyển.
                                Nhà xe Vân Anh Limousine đích thực là sự lựa chọn hoàn hảo dành cho mọi hành khách trong
                                những chuyến đi của mình.</span></div>
                        <div style="text-align: left;" dir="auto"><strong style="font-size: 1.5em;"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">II. CÁC BẾN ĐỖ -
                                    VĂN PHÒNG CỦA NHÀ XE VÂN ANH HOẠT ĐỘNG ĐÓN TRẢ KHÁCH</span></strong></div>
                        <span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>Khu vực Hà
                                Nội</strong></span>
                        <p><span style="font-family: arial, helvetica, sans-serif;"><span
                                    style="font-size: 13.3333px;"><span style="font-size: 13pt;"><strong>Địa chỉ Văn
                                            phòng:&nbsp;</strong></span><span
                                        style="font-family: arial, helvetica, sans-serif;"><span
                                            style="font-size: 13pt;">Quầy C5, Bến xe Nước Ngầm, Số 01 Ngọc Hồi, Hoàng
                                            Liệt, Q. Hoàng Mai, TP Hà Nộ</span>i</span></span></span></p>
                        <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;"><span
                                    style="font-size: 13.3333px;"><span
                                        style="font-family: arial, helvetica, sans-serif;"><img
                                            src="https://cms.mobihome.vn/Data/Sites/1/media/vphn.png" alt="" width="550"
                                            height="366"></span></span></span></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>Khu vực
                                    Thanh Hóa</strong></span></h3>
                        <h3><strong style="font-size: 13pt;"><em><span
                                        style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;- Thành phố
                                        Thanh Hóa</span></em></strong></h3>
                        <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Địa chỉ Văn
                                phòng:&nbsp;Bến Xe phía Bắc<strong>,&nbsp;</strong>Số 03 - Nguyễn Chí Thanh - P.Hàm Rồng
                                - TP Thanh Hoá - Tỉnh Thanh Hoá</span></div>
                        <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span></div>
                        <div style="text-align: center;"><span
                                style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><img
                                    src="https://cms.mobihome.vn/Data/Sites/1/media/4.png"
                                    alt="Văn phòng Bến xe Phía Bắc - TPTH" width="550" height="366"></span></div>
                        <div><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong
                                    style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><em><span
                                            style="font-family: arial, helvetica, sans-serif;"><br></span></em></strong></span>
                        </div>
                        <div><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong
                                    style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><em><span
                                            style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;- Thành phố
                                            Sầm Sơn</span></em></strong></span></div>
                        <div><span style="font-size: 13pt; font-family: arial, helvetica, sans-serif;">Địa chỉ Văn
                                phòng:&nbsp;Số 32 Lê Lợi, P Trường Sơn, TP Sầm Sơn, Tỉnh Thanh Hoá</span></div>
                        <div><span style="font-size: 13pt; font-family: arial, helvetica, sans-serif;"><br></span></div>
                        <div style="text-align: center;"><span
                                style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><img
                                    src="https://cms.mobihome.vn/Data/Sites/1/media/vpss.png" alt="" width="550"
                                    height="366"></span></div>
                        <div><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><em
                                    style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><strong><span
                                            style="font-family: arial, helvetica, sans-serif;"><br></span></strong></em></span>
                        </div>
                        <div><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><em
                                    style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><strong><span
                                            style="font-family: arial, helvetica, sans-serif;">&nbsp; - Huyện Triệu
                                            Sơn</span></strong></em></span></div>
                        <div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Địa chỉ Văn
                                    phòng:&nbsp;Bến xe Huyên Hồng -&nbsp;10 Tô Vĩnh Diện – Phố Giắt - Triệu Sơn - Tỉnh
                                    Thanh Hoá</span></div>
                            <div style="text-align: center;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: 13.3333px;"><img
                                            src="https://cms.mobihome.vn/Data/Sites/1/media/5.png" alt="" width="550"
                                            height="366"></span></span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: 13.3333px;"><strong
                                            style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><em><span
                                                    style="font-family: arial, helvetica, sans-serif;"><br></span></em></strong></span></span>
                            </div>
                            <div><span style="font-family: arial, helvetica, sans-serif;"><span
                                        style="font-size: 13.3333px;"><strong
                                            style="font-size: 13pt; font-family: Verdana, Arial, Helvetica, sans-serif;"><em><span
                                                    style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;-
                                                    Đông Minh, Đông Sơn</span></em></strong></span></span></div>
                            <div>
                                <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Địa chỉ
                                        văn phòng: Cao tốc Đông Minh - Hà Nội.</span></div>
                                <div><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span>
                                </div>
                                <div style="text-align: center;"><span
                                        style="font-family: arial, helvetica, sans-serif;"><span
                                            style="font-size: 13.3333px;"><img
                                                src="https://cms.mobihome.vn/Data/Sites/1/media/3.png"
                                                alt="Văn phòng Đông Minh, Đông Sơn" width="550"
                                                height="366"></span></span></div>
                                <div><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span>
                                </div>
                                <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Tất cả
                                        các văn phòng của Vân Anh Limousine đều được trang bị hệ thống điều hoà mát
                                        lạnh, tiện nghi, rộng rãi và cực kỳ thoải mái.</span></div>
                            </div>
                        </div>
                        <div style="text-align: left;" dir="auto">
                            <div class="x11i5rnm xat24cr x1mh8g0r x1vvkbs xtlvy1s x126k92a">
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Trong tương
                                        lai, Vân Anh sẽ không ngừng mở rộng hệ thống phòng chờ tại nhiều địa điểm để đáp
                                        ứng nhu cầu đi lại ngày càng cao của khách hàng.</span></div>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span>
                                </div>
                                <strong><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">III.
                                        CẬP NHẬT GIÁ VÉ CÁC TUYẾN CỦA NHÀ XE VÂN ANH</span></strong>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">- Giá vé
                                        tuyến <em><strong>TP Thanh Hóa - Hà Nội</strong></em> và ngược lại là:
                                        <strong>250.000VNĐ/vé</strong></span></div>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-&nbsp;Giá
                                        vé tuyến <em><strong>Quảng Xương - Hà Nội</strong></em> và ngược lại là:
                                        <strong>280.000VNĐ/vé</strong></span></div>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">- Giá vé
                                        tuyến <em><strong>TP Sầm Sơn - Hà Nội</strong></em> và ngược lại là:
                                        <strong>280.000VNĐ/vé</strong></span></div>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-&nbsp;Giá
                                        vé tuyến <em><strong>Triệu Sơn - Hà Nội</strong></em> và ngược lại là:
                                        <strong>200.000VNĐ/vé</strong></span></div>
                                <div dir="auto"><span
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">- Giá vé
                                        tuyến <em><strong>Đông Sơn<em>&nbsp;</em>- Hà Nội</strong></em>&nbsp;và ngược
                                        lại là:&nbsp;<strong>250.000VNĐ/vé</strong></span></div>
                            </div>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>=&gt;</strong><em>
                                        Đặc biệt, khi Quý khách mua vé khứ hồi, đặt vé trên 1 cuộc gọi và chuyển khoản
                                        luôn 2 chiều sẽ được giảm ngay <strong>20.000VNĐ</strong>. (Lưu ý: Không áp dụng
                                        đối với tuyến Triệu Sơn)</em></span></p>
                            <div style="text-align: left;" dir="auto"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>IV. LỊCH
                                        TRÌNH CÁC TUYẾN CỦA NHÀ XE VÂN ANH</strong></span></div>
                            <div style="text-align: left;" dir="auto"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; - Từ
                                </span><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">TP.Thanh Hóa
                                    -&gt; Hà Nội</strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">: Từ
                                </span><em><strong
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">3h00</strong></em><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> đến
                                </span><em><strong
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">20h00</strong></em><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> hàng ngày,
                                </span><em><strong style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">1
                                        tiếng 1 chuyến</strong></em></div>
                            <div style="text-align: left;" dir="auto"><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"></strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; - Từ
                                </span><strong style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Hà
                                    Nội -&gt; TP Thanh Hóa:</strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> Từ
                                </span><em><strong
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">5h00</strong></em><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp;đến&nbsp;</span><em><strong
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">21h00</strong></em><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp;hàng
                                    ngày,&nbsp;</span><em><strong
                                        style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">1 tiếng 1
                                        chuyến</strong></em></div>
                            <div style="text-align: left;" dir="auto"><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"></strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; -
                                    Từ</span><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> Triệu Sơn -&gt;
                                    Hà Nội: <em>3h00 - 4h00 - 5h00 - 6h00 - 7h00 - 8h00 - 9h30 - 11h30 - 12h30 - 13h30 -
                                        14h30 - 15h30 - 16h30</em></strong></div>
                            <div style="text-align: left;" dir="auto"><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"></strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">&nbsp; -
                                    Từ</span><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> Hà Nội -&gt;
                                    Triệu Sơn: <em>6h00 - 7h00 - 8h00 - 9h00 - 10h00 - 12h00 - 13h00 - 15h00 - 16h00 -
                                        17h00 - 18h00 - 19h00 - 20h00</em></strong></div>
                            <div style="text-align: left;" dir="auto"><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><em><br></em></strong>
                            </div>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><span
                                    style="font-family: arial, helvetica, sans-serif;"><strong>V. CÁCH ĐẶT VÉ XE VÂN ANH
                                        LIMOUSINE</strong></span></span>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-
                                    <strong><em>Cách 1:</em></strong> Đến trực tiếp các văn phòng bán vé theo địa chỉ
                                    bên trên&nbsp;</span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-
                                    <em><strong>Cách 2:</strong></em> Liên hệ đến các số điện thoại Hotline của nhà xe
                                    Vân Anh</span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>&nbsp;
                                        &nbsp; &nbsp; &nbsp; </strong>+ Hotline đặt vé 24/7<strong>:
                                        02378.888.888</strong></span></div>
                            <div><span style="font-size: 13pt;">&nbsp; &nbsp; &nbsp; +<span
                                        style="font-family: arial, helvetica, sans-serif;"> Hotline đặt vé Triệu Sơn:
                                        <strong>02373.939.939</strong></span></span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-
                                    <em><strong>Cách 3:</strong></em> Đặt vé ngay trên Website:<strong>
                                        www.xevananh.com</strong> hoặc <strong>www.xevananh.vn</strong></span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">-
                                    <em><strong>Cách 4:</strong></em> Quét zalo <strong>"nhà xe Vân Anh"</strong> theo
                                    mã QR dưới đây để được nhân viên hỗ trợ đặt vé</span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><br></span>
                            </div>
                            <div style="text-align: center;"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><img
                                        src="https://cms.mobihome.vn/Data/Sites/1/media/z4777031094488_518aee15eefb533a5c25ebc7e2da562b.jpg"
                                        alt="" width="389" height="550"></span></div>
                            <div><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><br></span>
                            </div>
                            <span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>VI. DỊCH
                                    VỤ VẬN CHUYỂN HÀNG HÓA CỦA NHÀ XE VÂN ANH</strong></span>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Bên cạnh việc
                                    vận chuyển hành khách thì nhà xe Vân Anh còn có thêm dịch vụ vận chuyển hàng hóa
                                    liên tỉnh. </span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Với tiêu chí:
                                    Nhanh - Tiết kiệm thời gian - Đảm bảo chất lượng. Quý khách hàng có thể Gửi - Nhận
                                    hàng hóa từ Thanh Hóa đi Hà Nội và chiều ngược lại chỉ trong vòng 3.5h- 4h. Đảm bảo
                                    Nhận - Trả hàng nhanh chóng trong ngày.</span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> Do đó, ngoài
                                    việc chọn Vân Anh là đơn vị để di chuyển thì bạn cũng có thể chọn nhà xe Vân Anh vận
                                    chuyển hàng hóa riêng cho mình.</span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Để gửi hàng hóa
                                    Quý khách liên hệ đến sđt hotline: <strong>19000.88888</strong> để được nhân viên tư
                                    vấn và hỗ trợ tận tình chu đáo nhất</span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Dưới đây là
                                    danh sách</span><strong
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> các địa chỉ văn
                                    phòng Giao - nhận hàng hóa</strong><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"> tại Nhà xe Vân
                                    Anh, quý khách có nhu cầu gửi hàng hãy mang đến các địa chỉ sau để được hỗ trợ tốt
                                    nhất.</span></p>
                            <p style="text-align: center;"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 14pt;"><strong><img
                                            src="https://cms.mobihome.vn/Data/Sites/1/media/393254190_711298361027556_7215344046043294173_n.jpg"
                                            alt="Các địa chỉ giao nhận hàng hóa của Nhà xe Vân Anh" width="412"
                                            height="550"></strong></span></p>
                            <p><span style="font-size: 13pt; font-family: arial, helvetica, sans-serif;">Trải qua một
                                    thời gian dài hình thành và phát triển, Vân Anh Limousine thật hạnh phúc khi luôn
                                    nhận được sự tin yêu của quý khách, điều đó chính là động lực lớn để Vân Anh
                                    Limousine liên tục đổi mới, liên tục tiến về phía trước nhằm mang đến thật nhiều giá
                                    trị hơn nữa cho quý khách hàng.</span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">Chúng tôi sẽ
                                    không ngừng cố gắng, nỗ lực để mang đến cho khách hàng những trải nghiệm tốt nhất.
                                    Chúng tôi hy vọng sẽ luôn nhận được niềm tin và sự ủng hộ cao nhất của khách
                                    hàng.</span></p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VÂN ANH
                                    LIMOUSINE | CHẤT LƯỢNG VƯỢT TRỘI, KHÔNG NGỪNG ĐỔI MỚI - VÌ KHÁCH HÀNG XỨNG
                                    ĐÁNG&nbsp;</span></p>
                            <p><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">=======================================</span>
                            </p>
                            <p><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;"><strong>CÔNG TY
                                        TNHH DU LỊCH VÀ VẬN TẢI VÂN ANH</strong></span></p>
                            <div dir="auto"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">HOTLINE ĐẶT VÉ
                                    TRIỆU SƠN: 𝟎𝟐𝟑𝟕𝟑.𝟗𝟑𝟗.𝟗𝟑𝟗</span></div>
                            <div dir="auto"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">HOTLINE ĐẶT VÉ
                                    24/7: 𝟎𝟐𝟑𝟕𝟖.𝟖𝟖𝟖.𝟖𝟖𝟖</span></div>
                            <div dir="auto"><span
                                    style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">HOTLINE HÀNG
                                    HÓA: 𝟏𝟗𝟎𝟎𝟎.𝟖𝟖𝟖𝟖𝟖</span></div>
                            <div dir="auto"><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VP
                                    Thanh Hóa: Bến xe Phía Bắc, 03 Nguyễn Chí Thanh, P. Nam Ngạn, Thành phố Thanh Hóa,
                                    Thanh Hoá</span></div>
                            <div dir="auto"><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VP
                                    Sầm Sơn: 32 Lê Lợi, phường Trường Sơn, TP Sầm Sơn</span></div>
                            <div dir="auto"><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VP
                                    Hà Nội: Bến xe Nước ngầm, Giải Phóng, Hoàng Liệt, Hoàng Mai, Hà Nội</span></div>
                            <div dir="auto"><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VP
                                    Triệu Sơn: Bến Xe Huyên Hồng, số 10 Tô Vĩnh Diện, Phố Giắt, Triệu Sơn, Thanh
                                    Hoá</span></div>
                            <div dir="auto"><span style="font-family: arial, helvetica, sans-serif; font-size: 13pt;">VP
                                    Đông Minh, Đông Sơn: Cao Tốc Đông Minh, Hà Nội</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 xl:col-span-4 hidden md:block">
                <h3 class="text-[#424B6B] font-bold text-2xl capitalize mb-4">Tuyến xe</h3>
                <ul class="flex flex-col !gap-5">
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">TP
                        Thanh Hóa - Hà Nội</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">Hà
                        Nội - TP Thanh Hóa</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">
                        Triệu Sơn - Hà Nội</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">Hà
                        Nội - Triệu Sơn</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">Sầm
                        Sơn - BX Nước Ngầm</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">BX
                        Nước Ngầm - Sầm Sơn</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">Đông
                        Sơn - BX Nước Ngầm</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">BX
                        Nước Ngầm - Đông Sơn</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">
                        Thiệu Hoá - BX Nước Ngầm</li>
                    <li class="text-[#1C1C1C] text-[15px] font-medium capitalize text-primary-hover cursor-pointer">BX
                        Nước Ngầm - Thiệu Hoá</li>
                </ul>
            </div>
        </div>
    </div>
</div>