<!-- <div class="tm-top-bar-bg">
  <div>abc</div>
  <div>abc</div>
</div> -->
<div class="tm-top-bar" id="tm-top-bar">
  <!-- Top Navbar -->
  <div class="container">
      <div class="row">
          <div class="d-flex flex-row text-dark justify-content-end w-100" style="padding: 8px 16px;">
            <div class="px-2" style="border-right: 1px solid #ccc;">
              <i class="fa fa-phone" aria-hidden="true" style="margin-right: 4px;"></i>
              <span>Liên hệ: 1800 9189</span>
            </div>
            <div class="px-2" style="border-right: 1px solid #ccc;">
              <i class="fa fa-phone" aria-hidden="true" style="margin-right: 4px;"></i>
              <span>Liên hệ: 1800 9189</span>
            </div>
            <div class="px-2 cursor-pointer">
              <a href="http://localhost:4200/login" class="text-danger">Đăng nhập</a>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg narbar-light">
              <a class="navbar-brand mr-auto" href="#">
                  <img src="./assets/img/logo.png" alt="Site logo">
                  THEQUANGDUNG
              </a>
              <div id="mainNav" class="collapse navbar-collapse tm-bg-white justify-content-end">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item" >
                      <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/rating" >Đánh giá</a>
                    </li>
            
                </ul>
                  <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#top">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#tm-section-4">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#tm-section-5">Blog Entries</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#tm-section-6">Contact Us</a>
                    </li>
                  </ul> -->
              </div>                            
          </nav>            
      </div>
  </div>
</div>